<header>
    <nav>
        <a href="/">Home</a>
        <% if (!user) { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } else { %>
            <a href="/logout">Logout</a>
            <% if (user.isAdmin) { %>
                <a href="/admin/dashboard">Admin Dashboard</a>
            <% } %>
            <a href="/basket">Basket</a>
        <% } %>
    </nav>
</header>
