<%- include('../partials/layout', {title: 'Login', body: `
<head><link rel="stylesheet" href="/css/login.css">
    <script rel="/js/transik.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></head>
<div class="login-register">
<div class="form-container">
    <h1>Login</h1>
    <form action="/users/login" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <p class="form-footer">
        Don't have an account? <a href="/users/register">Register here</a>.
    </p>
</div>
</div>

`}) %>
